
.student {
    background-color: #f6c6c6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.student p {
    margin: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #333;
    text-decoration-thickness: 2px;
}